*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus-visible, a:focus-visible, input[type="checkbox"]:focus-visible {
  outline: 2px solid #f3afe4;
}

::selection {
  background-color: rgba(255,218,121,0.5);
}

.visually-hidden {
  display: none;
}

/* CUSTOM VARIABLES */

:root {
  /* Globals */
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: 'ss01';
  overflow-x: hidden;
  --banner-gutter: 32px;
  
  /* Nav */
  --site-nav-height: 58px;
  --site-nav-gutter: 16px;
  --site-nav-main-gap: 32px;
  --site-nav-sub-offset: 17px;
  --site-nav-sub-gap: 24px;
  
  /* Text */
  --site-text-color: #0d0c22;
  
  /* Links */
  --link-color: #060318;
  --link-hover-color: #7b7194;
  --link-categories-hover-color: #6e6d7a;
}

.btn {
  /* button global */
  --btn-bg-color: #0d0c22;
  --btn-bg-color-hover: #565564;
  --btn-border-color: var(--btn-bg-color);
  --btn-border-radius: 100%;
  --btn-text-color: #fff;
  --btn-text-color-hover: #fff;
  --btn-font-size: 14px;
  --btn-font-weight: 500;
  --btn-height: 40px;
  --btn-padding: 24px;
}

.btn--primary-alt {
  /* button alt */
  --btn-bg-color: #ea4c89;
  --btn-bg-color-hover: #ec5e95;
  --btn-text-color: #fff;
  --btn-text-color-hover: #fff;
  --btn-border-color: var(--btn-bg-color);
  --btn-border-color-hover: var(--btn-bg-color-hover);
}

.btn--secondary-alt {
  /* button secondary alt */
  --btn-padding: 0 var(--btn-padding);
  --btn-width: 40px;
  --btn-height: 40px;
  --btn-bg-color: #fff;
  --btn-border-color: #fff;
  --btn-border-radius: 50%;
  --btn-text-color: #0d0c22;
  --btn-font-size: 13px;
}

.btn--circle {
  /* Button circle */
  --btn-width: var(--btn-height);
  --btn-padding: 0;
  --btn-border-radius: 50%;
}

.btn-dropdown-options {
  --dropdown-rule-color: #f3f3f4;
  --dropdown-text-color: #3d3d4e;
  --dropdown-active-text-color: #0d0c22;
  --dropdown-active-bg-color: #f3f3f4;
  --dropdown-hover-bg-color: rgb(243, 243, 244, 0.5);
  --dropdown-hover-radius: 7px;
  --dropdown-min-width: 180px;
  --dropdown-box-shadow: 0px 4px 4px 0px rgba($black, 0.03);
  --dropdown-border-radius: 8px;
  --dropdown-border: 1.5px solid rgba(231, 231, 233, 0.9);
  --dropdown-ul-padding: 12px;
  --dropdown-anchor-padding: 12px 8px;
}

.pill {
  /* Pill */
  --pill-bg-color: #f3f3f6;
  --pill-border-color: #f3f3f6;
  --pill-text-color: #3a3546;
}

.pill--slim {
  --pill-slim-padding: 16px;
  --pill-slim-height: 27px;
  --pill-slim-font-size: 14px;
  --pill-slim-font-weight: normal;
}

.pill--gray {
  --pill-gray-bg-color: #f3f3f6;
  --pill-gray-border-color: #f3f3f6;
  --pill-gray-text-color: #3a3546;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('../assets/fonts/MonaSansVF-Regular.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
}

/* CUSTOM VARIABLES END */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--site-text-color);
}

a, a:hover, a:visited, a:focus, a:active {
  text-decoration: none;
  transition: color 200ms ease;
}

a {
  color: var(--link-color);
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
  color: var(--link-hover-color);
}

label {
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
}

ul:not(.site-footer__links, .site-footer__lower-links, .site-nav-sub, .shot-actions-container, .site-nav-main__list, .filter-categories, #dropdown-list1, .filter-categories__list) {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--site-nav-height);
  background: #fff;
  z-index: 9999999;
}

.menu-button:checked .site-nav {
  position: relative;
  margin-bottom: 0;
}

.site-nav__dark-overlay {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.25);
  top: var(--site-nav-height);
  left: 0;
  z-index: 10;
  transition: opacity 0.25s ease-in-out, visibility 0.25s;
  pointer-events: none;
}

.site-nav-main {
  --site-nav-main-gap: 32px;
  z-index: 20;
  left: 0;
}

.site-nav-main__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.site-nav-main__item {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
}

.site-nav-main__item:first-child {
  margin: calc(-1 * (var(--site-nav-main-gap) / 2)) 0 0 0;
}

.site-nav-main__link {
  display: inline-flex;
  align-items: center;
  padding: 0 calc(var(--site-nav-main-gap) / 2) 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.site-nav-burger {
  --burger-padding: 6px;
  box-sizing: content-box;
  display: grid;
  width: 24px;
  grid-template-columns: 1fr;
  flex-shrink: 0;
  gap: 4px;
  margin: 0 0 0 calc(-1 * var(--burger-padding));
  padding: var(--burger-padding);
  border: none;
  background: none;
  cursor: pointer;
  z-index: 30;
}

.menu-button {
  display: none;
}

.menu-button:checked ~ .site-nav-main {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  overflow-y: scroll;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: #060318;
  transform: translate3d(0, 0, 0);
  transform-origin: 0% 0px;
  transition: 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  border-radius: 9999999px;
}

.burger-line:nth-child(2) {
  width: 74%;
}

.burger-line:nth-child(3) {
  width: 50%;
}

.menu-button:checked ~ .site-nav-burger :first-child {
  transform: rotate(45deg) translate3d(0, -3px, 0);
}

.menu-button:checked ~ .site-nav-burger :nth-child(2) {
  width: 0;
  opacity: 0;
}

.menu-button:checked ~ .site-nav-burger :nth-child(3) {
  width: 100%;
  transform: rotate(-45deg) translate3d(0, 0, 0);
}

.submenu-button {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* EXPANDABLE MENU START */

.site-nav-sub {
  --site-nav-sub-gap: 24px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.site-nav-sub::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  height: var(--site-sub-nav-offset);
}

.site-nav-sub__divider {
  width: 100%;
  padding: calc(var(--site-nav-sub-gap) / 2) 0;
}

.site-nav-sub__divider::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d8d6d5;
}

.site-nav-sub__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  padding: calc(var(--site-nav-sub-gap) / 2) 0;
  line-height: 17px;
}

:first-child > .site-nav-sub__link {
  padding-top: 0;
}

:last-child > .site-nav-main__link {
  padding-bottom: 0;
}

.site-nav-sub__link--bold img.icon {
  width: 20px;
  height: 20px;
}

.site-nav-sub__link--bold {
  font-weight: 600;
}

.site-nav-sub__link--bold:hover {
  filter: brightness(0) saturate(100%) invert(47%) sepia(25%) saturate(420%) hue-rotate(216deg) brightness(92%) contrast(87%);
}

#filters-toggle {
  width: 0;
  visibility: hidden;
}

.shot-filters {
  position: relative;
  display: none;
  margin-top: 32px;
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0.87, 0, 0.13, 1);
}

.shot-filters-form {
  position: relative;
}

:has(#filters-toggle:checked) .shot-filters {
  display: block;
  justify-content: center;
  max-height: 400px;
}

.shot-filters-form fieldset {
  width: auto;
  margin: 0 16px;
  border: none;
  flex: 1;
}

.shot-filters-form > fieldset > label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-variation-settings: "wght" 550;
  letter-spacing: 0px;
  color: #0d0c22;
  margin-bottom: 10px;
}

.shot-filters input {
  display: inline-block;
}

input[type="search"] {
  border: 1.5px solid #e7e7e9;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 56px;
  padding: 18px 20px;
  border-radius: 12px;
  outline: none;
  background-color: #fff;
  color: #0d0c22;
  appearance: none;
  font-feature-settings: "ss01";
  transition: background-color 200ms ease, outline 200ms ease, box-shadow 200ms ease;
}

input:focus-within {
  box-shadow: 0 0 0 4px rgba(234, 100, 217, 0.1);
  border-color: rgba(234, 100, 217, 0.4);
}

.input-with-icon input[type="search"] {
  padding-left: 44px;
}

.input-with-icon {
  position: relative;
}

.shot-filters img.icon-search, .shot-filters img.icon-color {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.shot-filters img.icon-search {
  filter: brightness(0) saturate(100%) invert(70%) sepia(8%) saturate(236%) hue-rotate(201deg) brightness(89%) contrast(89%);
}

.shot-filters img.icon-color {
  width: 15px;
  height: 15px;
}

input[type="hidden" i] {
  display: none !important;
  appearance: none;
  background-color: initial;
  cursor: default;
  padding: initial;
  margin: initial;
}

.btn-dropdown {
  display: block;
  position: relative;
  white-space: nowrap;
}

.form-btn.outlined.btn-dropdown-link {
  display: block;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  padding: 21px 12px 20px;
  font-size: 14px;
  font-variation-settings: "wght" 550;
  line-height: 19px;
  background-color: #fff;
  color: #0d0c22;
  transition: color 200ms ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
}

.btn-dropdown-options {
  position: absolute;
  display: none;
}

#dropdown-toggle {
  width: 0;
  display: none;
}

.form-btn.outlined.btn-dropdown-link > label[for="dropdown-toggle"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-btn.outlined.btn-dropdown-link ~ .btn-dropdown-options {
  right: 0;
  background-color: #fff;
  width: 100%;
  top: calc(100% + 8px);
  left: 0;
  min-width: var(--dropdown-min-width);
  margin-top: 4px;
  overflow: auto;
  border: var(--dropdown-border);
  border-radius: var(--dropdown-border-radius);
  box-shadow: var(--dropdown-box-shadow);
  color: var(--dropdown-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.btn-dropdown-link:has(#dropdown-toggle:checked) ~ .btn-dropdown-options {
  display: block;
  z-index: 9999999;
}

#dropdown-list1 {
  padding: var(--dropdown-ul-padding);
}

.btn-dropdown-options li:active a {
  border-radius: var(--dropdown-hover-radius);
  background: var(--dropdown-active-bg-color);
  color: var(--dropdown-active-text-color);
  font-weight: 500;
}

.btn-dropdown-options ul li.active a::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 30px;
  width: 10px;
  height: 8px;
  background-image: url(/images/check.svg);
  background-repeat: no-repeat;
}

.default-filter-option.active {
  border-radius: var(--dropdown-hover-radius);
  background: var(--dropdown-active-bg-color);
  color: var(--dropdown-active-text-color);
  font-weight: 500;
}

.btn-dropdown-options a {
  display: block;
  font-size: 13px;
  line-height: 16px;
  padding: var(--dropdown-anchor-padding);
}

.d-none {
  display: none;
}

/* END OF EXPANDABLE MENU */

@media (max-width: 1204px) {
  .site-nav-burger {
    display: grid;
  }
  
  .site-nav-main {
    visibility: hidden;
    position: fixed;
    top: var(--site-nav-height);
    right: 0;
    width: 100%;
    transition: opacity 0.25s ease-out, visibility 0.25s ease-out;
    opacity: 0;
    border-top: 1px solid #e7e7e9;
    max-height: calc(100vh - var(--site-nav-height));
    padding: 32px;
    background-color: #fff;
  }
  
  .site-nav-main__item {
    display: block;
    position: relative;
    width: 100%;
    transform: translateX(-30px);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    line-height: 1;
  }

  .site-nav-main__item:first-child {
    transition-delay: 0s;
    margin: calc(-1 * (var(--site-nav-main-gap) / 2)) 0 0 0;
  }

  .site-nav-main__item:nth-child(2) {
    transition-delay: 0.03s;
  }

  .site-nav-main__item:nth-child(3) {
    transition-delay: 0.06s;
  }
  
  .site-nav-main__item:nth-child(4) {
    transition-delay: 0.09s;
  }
  
  .site-nav-main__link {
    padding: calc(var(--site-nav-main-gap) / 2) 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  .menu-button:checked ~ .site-nav__dark-overlay {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  :has(.menu-button:checked) body {
    overflow: hidden;
    height: 100vh;
  }

  .menu-button:checked ~ .site-nav-main .site-nav-main__item {
    transform: translateX(0);
  }
  
  .site-nav-main__item .site-nav-sub {
    --site-nav-sub-gap: 32px;
    margin-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s cubic-bezier(0.87, 0, 0.13, 1);
  }
  
  .site-nav-main__item:has(.submenu-button:checked) .site-nav-sub {
    max-height: 1000px;
    visibility: visible;
    position: relative;
    width: 100%;
    transform: translateX(0) translateY(0px);
    box-shadow: none;
    opacity: 1;
  }

  .site-nav-sub__link--bold {
    font-size: 16px;
    font-weight: 600;
  }

  .site-nav-sub li .site-nav-sub__link--bold {
    padding-top: 16px;
  }

  .site-nav-main__link:hover, .site-nav-main__link:focus-within {
    color: var(--site-text-color);
  }

  .site-footer-marquee__track {
    overflow-x: scroll;
  }

  /* La animación del carrusel funcionaría pero la comento (desactivandola) porque debería detenerse una vez el usuario inicia el scroll (javascript)

  .site-footer-marquee__track {
    animation: footer-marquee-mobile-wiggle 1.8s alternate-reverse infinite ease-in-out;
  }

  .site-footer-marquee__grid {
    overflow-x: scroll;
  }

  Fin del comentario */
}

/* more than 1205px */

@media (min-width: 1205px) {
  .site-nav-burger {
    display: none;
  }

  .site-nav-sub {
    --site-sub-nav-offset: 18px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    opacity: 0;
    width: fit-content;
    min-width: 230px;
    margin-top: var(--site-nav-sub-offset);
    padding: 24px;
    overflow: visible;
    height: auto !important;
    border: 1px solid rgba(231, 231, 233, 0.5);
    box-shadow: 0px 15px 50px 0px rgba(27,32,50,0.1);
    margin-left: -15px;
    border-radius: 8px;
  }

  .site-nav-main__item:hover .site-nav-sub {
    visibility: visible;
    transform: translateX(0) translateY(-0px);
    transition: opacity 0.2s ease-in-out 0.05s, visibility 0.2s ease-in-out 0.05s, transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 0.05s;
    opacity: 1;
  }
  
  .site-nav-main {
    margin-left: 65px;
    white-space: nowrap;
    display: block;
    padding: 0;
    border-top: none;
  }
  
  .site-nav-main__list {
    flex-direction: row;
    align-items: center;
  }
  
  .site-nav-main__item:first-child {
    margin: 0 0 0 calc(-1 * (var(--site-nav-main-gap) / 2));
  }

  .site-footer-marquee__grid {
    animation: footerMarqueeSlide linear infinite;
    animation-duration: calc(var(--item-speed, 2s) * var(--item-count, 8));
    transition: animation-timing-function 0.5s ease-out;
  }

  .footer-marquee-desktop {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
}

@media (prefers-reduced-motion: reduce) {
  .site-footer-marquee__grid {
    animation: none;
  }
}

a.site-nav__logo {
  transition: filter 150ms ease-in;
}

a.site-nav__logo:hover {
  filter: brightness(0) saturate(100%) invert(30%) sepia(9%) saturate(783%) hue-rotate(205deg) brightness(98%) contrast(82%);;
}

.site-nav__wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  height: var(--site-nav-height);
  padding: 0 var(--site-nav-gutter);
  transition: background-color 0.25s ease-out;
  gap: 13px;
}

.site-nav__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1; /* PODRÍA SOBRAR o interferir con lo que he hecho yo – COMPROBAR AL FINAL */
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
}

.site-nav__logo {
  aspect-ratio: 210 / 59;
  width: 88.98px;
  height: 100%;
  display: flex;
  align-items: center;
  transform: scale(1.15);
}


.site-nav__actions-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
  white-space: nowrap;
}

.site-nav__signup {
  font-weight: 600;
}

.btn {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  height: var(--btn-height);
  background-color: var(--btn-bg-color);
  padding: var(--btn-padding);
  color: var(--btn-text-color);
  border: 1.5px, solid var(--btn-border-color);
  border-radius: 9999999px;
  transition: background 150ms cubic-bezier(0.32, 0, 0.59, 0.03);
}

.btn:hover {
  background-color: var(--btn-bg-color-hover);
  border: 1.5px, solid var(--btn-bg-color-hover);
  color: var(--btn-text-color-hover);
  transition: background 150ms cubic-bezier(0.32, 0, 0.59, 0.03);
}

#wrap {
  margin-top: var(--site-nav-height);
}

.shots-search-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px var(--site-nav-gutter);
  gap: 30px;
}

@font-face {
  font-family: 'Source Serif 4 Dribbble';
  src: url('../assets/fonts/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.shots-search-hero__heading {
  font-family: "Source Serif 4", Georgia, serif !important;
  max-width: 690px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  font-feature-settings: "ss01";
}

.shots-search-hero__subheading {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  max-width: 560px;
  text-align: center;
  letter-spacing: 0px;
  margin-top: -9px;
}

.shots-search-hero__input-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 710px;
  z-index: 0;
}

@media (min-width: 768px) {
  .shots-search-hero__heading {
    font-size: 62px;
  }
  .shots-search-hero__subheading {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
}

.site-nav-search {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  width: 100%;
  height: 100%;
  padding: 0 6px 0 0;
  background-color: #f3f3f6;
  outline: 3px solid transparent;
  outline-offset: -3px;
  border: 2px solid transparent;
  border-radius: 9999999px;
  gap: 12px;
  transition: background-color 150ms ease, outline 150ms ease-in-out, color 200ms ease;
}

.site-nav-search:hover {
  outline-color: #faebf9;
  background-color: #fff;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease;
}

.site-nav-search:focus-within {
  background-color: transparent;
  outline: 3px solid #faebf9;
}

input[name="q"] {
  width: 100%;
  height: 52px;
  padding: 18px;
  border: none;
  background-color: transparent;
  color: rgb(50, 46, 60);
  font-size: 14px;
}

input[name="q"]:focus-visible {
  outline: transparent;
}

.site-nav-search__dropdown {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  border: none;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  color: #3a3546;
  font-weight: 600;
}

.site-nav-search__dropdown:hover {
  color: #7b7194;
}

.arrow-down-icon {
  position: relative;
  vertical-align:text-bottom ;
  width: 16px;
  opacity: 70%;
}

button.site-nav-search__go {
  width: 40px;
  height: 40px;
  padding: 3px 0 var(--btn-padding);
  margin-top: 1px;
  border: var(--btn-border-width, 1.5px) solid var(--btn-border-color, var(--btn-bg-color));
  border-radius: var(--btn-border-radius, 9999999px);
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight, 600);
  line-height: 1;
  gap: var(--btn-gap, 8px);
  cursor: pointer;
  transition: 0.15s cubic-bezier(0.32, 0, 0.59, 0.03);
  flex-shrink: 0;
}

button.site-nav-search__go:hover {
  border-color: var(--btn-border-color-hover);
  background-color: var(--btn-bg-color-hover);
  transition: 0.15s cubic-bezier(0.32, 0, 0.59, 0.03);
}

img.search-icon {
  filter: invert(); /* this is a little trick to make the image white */
  fill: none;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

div.shots-search-hero__trending-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.shots-search-hero__trending-title {
  margin-right: 10px;
  font-size: var(--btn-font-size);
  color: #9890ac;
  font-size: 15px;
  letter-spacing: 0px;
}

div.shots-search-hero__trending-tags {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

a.shots-search-hero__trending-tag {
  background-color: var(--pill-gray-bg-color);
  padding: 4.5px var(--pill-slim-padding, 10px);
  border: 1px solid transparent;
  border-radius: 9999999px;
  font-weight: var(--pill-slim-font-weight);
  color: #0d0c22;
  font-size: 14px;
  letter-spacing: 0;
}

a.shots-search-hero__trending-tag:hover {
  background-color: #fff;
  border: var(--pill-border-width, 1px) solid var(--pill-border-color, #f8f8f8);
  color: var(--pill-text-color);
}

.filter-subnav {
  position: relative;
  padding-top: 16px;
  background-color: #fff;
  padding-right: 20px;
  padding-left: 20px;
}

.filter-subnav-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
}

@media (max-width: 767px) {
  .filter-subnav{
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  :root {
    --banner-gutter: 32px;
  }

  .filter-subnav {
    padding-right: 32px;
    padding-left: 32px;
  }

  .site-footer__container {
    padding: 0 32px;
  }
}

@media (max-width: 789px) {
  .site-nav__signup {
    visibility: hidden !important;
    opacity: 0 !important;
  }

  .site-nav__login {
    --btn-height: 40px;
    --btn-padding: 24px;
    --btn-font-size: 14px;
    padding-top: 3px !important;
  }

  .site-nav__login p {
    position: relative;
    top: 10px;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
}

@media (min-width: 790px) {
  :root {
      --site-nav-gutter: 40px;
      --site-nav-height: 92px;
      --site-nav-search-height: 56px;
  }
}

@media screen and (min-width: 960px) {
  .filter-subnav {
    padding-top: 32px;
    padding-right: 32px;
    padding-left: 32px;
  }

  #content {
    width: auto;
    max-width: none;
    float: none;
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    margin-bottom: 40px;
  }

  .shot-filters-form {
    display: flex;
    margin: 0 -16px;
  }
}

@media screen and (max-width: 959px) {
  .filter-subnav-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .filter-categories {
    order: 1;
    border-top: 1px solid #f3f3f4;
    width: calc(100% + 30px);
    margin: 8px -15px 0;
    padding: 15px 0 0;
    line-height: 20px;
  }

  .shot-filters-form fieldset {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .shot-filters {
    margin: 15px -15px -15px;
    padding: 15px 15px 0;
  }

  .wrap-inner {
    padding: 16px;
  }
}

@media (min-width: 1200px) {
  :root {
    --banner-gutter: 72px;
  }

  .filter-subnav {
    padding-right: 72px;
    padding-left: 72px;
  }
}

.form-btn {
  border: 1px solid rgba(231, 231, 233, 0.9);
  margin-right: 15px;
}

.form-btn:not(btn.filters) {
  margin-right: 0;
}

img.popular-icon {
  margin-left: 10px;
  margin-right: -10px;
}

.form-btn.popular {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  white-space: nowrap;
  height: 40px;
  padding: 18px 24px 18px 18px; 
  font-size: 14px;
  font-weight: 500;
}

.form-btn.popular:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
  color: var(--site-text-color);
}

.form-btn.filters {
  border-radius: 9999999px;
  font-size: 13px;
  padding: 12px 22px;
  margin-left: 30px;
}

.form-btn.filters:hover {
  color: var(--site-text-color);
  border-color: #dbdbde;
}

.filter-categories ul {
  display: flex;
  padding-inline-start: 0 !important;
  margin: 0;
}

.filter-categories {
  overflow: auto hidden;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  font-size: var(--btn-font-size);
  font-weight: 500;
  gap: 8px;
  scrollbar-width: none;
}

li.category {
  display: inline-flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 9999999px;
  line-height: 20px;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 600;
}

li.category-active {
  background: #f8f7f4; /* the "active" one */
  padding-top: 10px;
  padding-bottom: 10px;
}

li.category:hover a {
  color: var(--link-categories-hover-color);
}

li.category-active a:hover {
  color: var(--site-text-color);
  transition: background 200ms ease;
}

li.category-active:hover {
  background-color: #f5f3f0;
  cursor: pointer;
  color: var(--site-text-color);
}

.filter-settings {
  white-space: nowrap;
}

img.filter-icon {
  width: 13.1px;
  height: 9px;
  overflow: hidden;
  vertical-align: baseline;
  top: -1px;
  white-space: nowrap;
}

.wrap-inner {
  width: 100%;
  padding: 32px 32px 40px;
}

.wrap.inner.flushed {
  padding-left: 0;
  padding-left: 0;
}

#content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

.shots-grid {
  position: relative;
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  z-index: -1;
}

.dribble-shot {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.dribble-shot::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 8.1%, rgba(0,0,0,0.001) 15.5%, rgba(0,0,0,0.003) 22.5%, rgba(0,0,0,0.005) 29%, rgba(0,0,0,0.008) 35.3%, rgba(0,0,0,0.011) 41.2%, rgba(0,0,0,0.014) 47.1%, rgba(0,0,0,0.016) 52.9%, rgba(0,0,0,0.019) 58.8%, rgba(0,0,0,0.022) 64.7%, rgba(0,0,0,0.025) 71%, rgba(0,0,0,0.027) 77.5%, rgba(0,0,0,0.029) 84.5%, rgba(0,0,0,0.03) 91.9%, rgba(0,0,0,0.03) 100%);
}

img.shot-thumbnail {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 8px;
}

.shot-thumbnail-link {
  overflow: hidden;
  border-radius: 8px;
}

.shot-details-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.user-information {
  display: flex;
  align-items: center;
}

.hoverable {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.hoverable a.url {
  display: flex;
  align-items: center;
  min-width: 0;
}

.hoverable img.photo {
  width: 24px;
  border-radius: 50%;
}

a.hoverable:hover {
  color: initial;
}

.hoverable .display-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  max-width: 80%;
}

.badge-link span {
  text-transform: uppercase;
  vertical-align: 2px;
  font-size: 10px;
  font-weight: 500;
  margin-left: 8px;
  padding: 3px;
  background: #ccc;
  color: #fff;
  border-radius: 3px;
}

.badge-link span:hover {
  background: var(--link-color-hover, #3d3d4e);
}

.shot-statistics-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.shot-statistic {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

.shot-like > img.icon {
  width: 14px;
  vertical-align: middle;
  filter: grayscale(90%);
}

.shot-like > img.icon:hover {
  filter: invert(74%) sepia(68%) saturate(3725%) hue-rotate(276deg) brightness(92%) contrast(99%);
}

img[src*="eye.png"] {
  width: 14px;
  height: 9px;
}

.shot-statistic span[class$="count"] {
  font-size: 13px;
  padding-left: 3px;
  color: #9e9ea7;
}

#screenshot-25830692 {
  max-width: 500px;
}

/* SHOTS OVERLAY STARTS */

.shot-thumbnail-overlay-content {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.shot-thumbnail-overlay-content .shot-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shot-actions-container a.btn--circle {
  display: flex;
  justify-content: center;
  width: var(--btn-width, min-content);
  height: var(--btn-height);
  line-height: 1;
  white-space: nowrap;
  background-color: #fff;
  border: none;
  transition: opacity 300ms ease-in-out;
  opacity: 100%;
}

.shot-actions-container a.btn--circle:hover img {
  transition: opacity 300ms ease-in-out;
  opacity: 70%;
}

.shot-thumbnail-placeholder {
  margin: 0;
  overflow: hidden;
}

.dribble-shot .shot-thumbnail-overlay {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 62%, rgba(0,0,0,0.00345888) 63.94%, rgba(0,0,0,0.014204) 65.89%, rgba(0,0,0,0.0326639) 67.83%, rgba(0,0,0,0.0589645) 69.78%, rgba(0,0,0,0.0927099) 71.72%, rgba(0,0,0,0.132754) 73.67%, rgba(0,0,0,0.177076) 75.61%, rgba(0,0,0,0.222924) 77.56%, rgba(0,0,0,0.267246) 79.5%, rgba(0,0,0,0.30729) 81.44%, rgba(0,0,0,0.341035) 83.39%, rgba(0,0,0,0.367336) 85.33%, rgba(0,0,0,0.385796) 87.28%, rgba(0,0,0,0.396541) 89.22%, rgba(0,0,0,0.4) 91.17%);
  z-index: 2;
  content: "";
  transition: opacity 300ms ease;
  opacity: 0;
}

.dribble-shot:hover .shot-thumbnail-overlay {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}

.shot-actions-container {
  display: flex;
  justify-content: flex-end;
  gap: var(--btn-gap, 8px);
}

.shot-actions-container img.icon {
  width: 16px;
}

/* END OF SHOTS OVERLAY */

.login-actions {
  display: flex;
  justify-content: center;
}

.sign-up-to-continue {
  padding: 10px 20px;
  font-size: 13px;
  margin-top: 40px;
  max-width: 400px;
}

/*
.back-to-top {
  right: 20px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 15px;
  z-index: 3;
}

.back-to-top a img {
  width: 50px;
  height: 50px;
  border: none;
  opacity: 0.37;
  transform: translateX(104%);
}

.back-to-top a img:hover {
  background-color: #4d4d4d;
  border: none;
  border-radius: 50%;
  opacity: .75;
}
*/

.back-to-top {
  display: none;
}

/* ------- CATEGORIES ANIMATED SLIDER START ------- */

.site-footer-marquee {
  --grid-gap: 24px;
  --item-speed: 2s;
  --item-count: 16;
  position: relative;
  margin: 0 auto;
  overflow-x: scroll;
}

.site-footer-marquee a {
  color: var(--link-color);
}

.site-footer-marquee__track {
  padding-top: 60px;
}

@keyframes footer-marquee-mobile-wiggle {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-20px, 0, 0);
  }
}

.site-footer-marquee__grid {
  position: relative;
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  width: fit-content;
  gap: var(--grid-gap);
  will-change: transform;
}

.site-footer-marquee__grid:hover {
  --grid-x-offset: -16px;
  animation-play-state: paused;
}

@keyframes footerMarqueeSlide {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}

.site-footer-marquee-item, .site-footer-marquee-item--duplicate {
  --item-media-width: 200px;
  --item-media-height: 150px;
  position: relative;
}

.site-footer-marquee-item--duplicate {
  display: none;
}

.site-footer-marquee-item__media {
  position: relative;
  display: flex;
  flex-direction: row;
  width: var(--item-media-width);
  height: var(--item-media-height);
  z-index: 2;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #9e9ea7;
}

.site-footer-marquee-item__title {
  margin-top: 12px;
  color: #0d0c22;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
}

/* SLIDER ::BEFORE AND ::AFTER */

.site-footer-marquee-item__stack {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--item-media-width);
  height: var(--item-media-height);
}

.site-footer-marquee-item__stack::after, .site-footer-marquee-item__stack::before {
  display: block;
  content: "";
  --stack-offset-x: -10px;
  --stack-offset-y: -10px;
  position: absolute;
  top: var(--stack-offset-y);
  right: var(--stack-offset-x);
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: var(--stack-translate-delay, .1s);
}

.site-footer-marquee-item__stack::before {
  --stack-translate-delay: 0s;
  width: 96%;
  height: 96%;
  border-radius: 12px;
  border: 2px solid #fff; /* cambiar color al correcto #fff */
  background: var(--stack-color-1, rgba(0,0,0,0.1));
  z-index: 0;
  opacity: 0.4;
}

.site-footer-marquee-item:hover .site-footer-marquee-item__stack::before {
  transform: translate(5px, -5px);
}

.site-footer-marquee-item__stack::after {
  top: calc(var(--stack-offset-y) / 2);
  right: calc(var(--stack-offset-x) / 2);
  width: 98%;
  height: 98%;
  border: 2px solid #fff; /* cambiar color al correcto #fff */
  border-radius: 10px;
  background: var(--stack-color-2, rgba(255,255,255,0.1));
  z-index: 0;
}

.site-footer-marquee-item:hover .site-footer-marquee-item__stack::after {
  transform: translate(2px, -2px);
}

.site-footer-marquee-item[href$="/illustration" i] {
  --stack-color-1: #EDF3D8;
  --stack-color-2: #E6FBFE;
}

.site-footer-marquee-item[href$="/mobile" i] {
  --stack-color-1: #EDF3D8;
  --stack-color-2: #E3EBFD;
}

.site-footer-marquee-item[href$="/product-design" i] {
  --stack-color-1: #DDFDE8;
  --stack-color-2: #EDDDFB;
}

.site-footer-marquee-item[href$="/branding" i] {
  --stack-color-2: #E6FDC9;
  --stack-color-1: #EDF3D8;
}

.site-footer-marquee-item[href$="/web-design" i] {
  --stack-color-1: #EDDDFB;
  --stack-color-2: #EDF3D8;
}

.site-footer-marquee-item[href$="/typography" i] {
  --stack-color-1: #EDF3D8;
  --stack-color-2: #DDFDE8;
}

.site-footer-marquee-item[href$="/print" i] {
  --stack-color-1: #DDFDE8;
  --stack-color-2: #E6FBFE;
}

.site-footer-marquee-item[href$="/animation" i] {
  --stack-color-1: #E3EBFD;
  --stack-color-2: #F6D9FB;
}

/* ------- END OF CATEGORIES ANIMATED SLIDER ------- */

/* FOOTER STARTS */

.site-footer__container {
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 32px;
}

.site-footer__upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 44px 0;
  row-gap: 20px;
}

.site-footer__logo img {
  width: 134px;
  height: 30px;
  margin-left: -14px;
  margin-right: -14px;
}

.site-footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;
  line-height: 20px;
  white-space: nowrap;
}

.site-footer__links ul {
  margin: 0;
  padding: 0;
}

.site-footer__link {
  font-weight: 600;
  letter-spacing: 0px;
}

.site-footer__social-links {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}

.site-footer__social-link img {
  width: 18px;
  height: 18px;
  vertical-align: bottom;
}

.site-footer__lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 8px;
  padding: 32px 0;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: -0.5px;
}

.site-footer__lower-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 4px;
}

.site-footer__lower-links, .site-footer__lower-links li a {
  color: #6e6d7a;
}

ul[class*=site-footer] a:hover {
  color: initial;
}

@media (min-width: 768px) {
  .site-footer__lower {
    flex-direction: row;
    padding: 44px 0;
    row-gap: 0;
  }

  .shots-search-hero__trending-container {
    flex-direction: row;
    gap: 24px;
  }
}

@media (min-width: 920px) {
  .site-footer__upper {
    flex-direction: row;
    padding: 72px 0 44px;
    row-gap: 0;
  }
}

@media (min-width: 1200px) {
  .site-footer__links {
    column-gap: 40px;
  }

  .wrap-inner {
    padding-right: 72px;
    padding-left: 72px;
  }
}

@media (min-width: 1205px) {
  .site-footer-marquee-item--duplicate {
    display: block;
  }
}

/* END OF FOOTER */